.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: brown;
  width: 100%;
  border-top: 2px solid black;
}

.footer div {
  padding: 10px;
  text-align: center;
}
