.body-main {
    margin-top: 100px; 
    margin-left: 200px; 
    margin-right: 200px;
}

.block_card {
    border-style: inset;
    border-color: brown;
    border-width: 2px;
}

.block-header-div {
    margin-left: 30px;
    display: inline;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
}

.block-header-txt {
    color: red;
    font-size: 20px;
}

