.form_applet {
  text-align: center;
  margin: 20px 0 0 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header {
  background-color: rgb(236, 170, 129, 0.4);
  border: 2px solid red;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 24px;
  display: flex;
  padding: 5px 15px 5px 15px;
}

.title {
  font-size: 26px;
  display: inline-block;
  width: 50%;
  text-align: left;
}

.button {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.form_applet_table {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-left: 2px solid red;
  font-size: 16px;
  padding: 1%;
}

.form_applet_table table {
  width: 98%;
  table-layout: fixed;
}

.form_applet_table td {
  padding: 10px;
}

/* .form_applet_table table td:nth-child(odd) {
  text-align: right;
}

.form_applet_table table td:nth-child(even) {
  text-align: left;
} */

.form_applet_table input,
textarea {
  font-size: 16px;
  width: 100%;
}

.form_td_div_lable {
  display: inline-block;
  padding: 2%;
  text-align: right;
  width: 46%;
}

.form_td_div_value {
  display: inline-block;
  padding: 2%;
  text-align: left;
  width: 46%;
}
