.form_applet {
  text-align: center;
  background-color: blueviolet;
  margin: 20px 0 0 0;
}

.header {
  background-color: red;
}

.form_applet_table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_applet_table table {
  width: 100%;
  table-layout: fixed;
}

.form_applet_table table td:nth-child(odd) {
  text-align: right;
}

.form_applet_table table td:nth-child(even) {
  text-align: left;
}
