.form_applet {
  text-align: center;
  background-color: rgb(236, 170, 129, 0.4);
  margin: 20px 0 0 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header {
  border: 2px solid red;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.form_applet_table {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-left: 2px solid red;
}

.form_applet_table table {
  width: 100%;
  table-layout: fixed;
}

.form_applet_table table td:nth-child(odd) {
  text-align: right;
}

.form_applet_table table td:nth-child(even) {
  text-align: left;
}
