* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

body {
    background: rgb(247, 223, 180);
}

.header {
    background: rgb(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 30px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
}

.content {
    margin-bottom: 5%;
}

.card {
    background: rgb(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 30px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
}

.card .date .form-applet{
    display: flex;
}

.form-applet table {
    width: 100%;
    table-layout: fixed;
}

.form-applet table td {
    padding: 10px;
}

.form-applet table p {
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    background: white;

}

.lable {
    text-align: right;
    font-weight: bold;
}

.date_table {
    text-align: left;
}

h3, h2, h1, h4{
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
    text-decoration: underline;
}

.map {
    display: block;
    margin-left: 30px;
    border: 1px solid blue;
    border-radius: 5px;
}

.list-applet thead {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: rgb(253, 158, 79);
}

.list-applet td {
    border-left: 2px solid black;
    text-align: center;
}

.list-applet td:first-child {
    border-left: none;
}

.list-applet tr:nth-child(even) {
    background-color: white;
}

.list-applet tr:hover {
    background-color: rgb(252, 192, 143);
}

.list-applet tr:first-child:hover {
    background-color: none;
}

.list-applet thead:hover {
    background-color: rgb(253, 158, 79) !important;
}

.footer {
    position: fixed;
    width: 100%;
    background: white;
    bottom: 0;
    left: 0;
    border: 0;
    border-top: 2px solid black;
    text-align: center;
    padding: 10px;
    font-size: clamp(13px, 1vh + 0.5vw, 30px);
}

.footer button {
    border: none;
    border: 2px solid rgb(241, 158, 2);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}