.list_applet {
  text-align: center;

  margin: 20px 0 0 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header {
  background-color: rgb(236, 170, 129, 0.4);
  border: 2px solid red;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 24px;
  display: flex;
  padding: 5px 15px 5px 15px;
}

.list_applet_table {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-left: 2px solid red;
}

.title {
  font-size: 26px;
  display: inline-block;
  width: 50%;
  text-align: left;
}

.button {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.list_applet_table table {
  margin: 1%;
  width: 98%;
  table-layout: fixed;
  border-collapse: collapse;
}

.list_applet_table table td {
  border: 1px solid black;
  padding: 5px;
}

.list_applet_table table thead {
  background-color: rgb(236, 170, 129, 0.4);
  font-size: 20px;
  text-decoration: solid;
}

.list_applet_table table tbody tr:hover {
  background-color: rgb(243, 210, 120);
}

td:nth-child(1) {
  width: 5%;
}
