.modal_header {
  padding: 15px;
  border-bottom: 1px solid #eceeef;
  align-items: center;
  display: flex;
  justify-content: center;
}
.modal_title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 500;
}

.modal_body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  line-height: 1.5;
}

.buttons {
  margin: 10px;
  display: flex;
  justify-content: center;
}

dialog {
  margin: 10rem auto;
  padding: 1rem;
  z-index: 100;
  border-radius: 10px;
}
